
  <!--footer start-->
  <section id="footer">
    <div class="container">
      <div class="row text-center text-xs-center text-sm-left text-md-left">
        <div class="col-xs-12 col-sm-4 col-md-4">
          <h5>Quick links</h5>
          <ul class="list-unstyled quick-links">
            <li><a href="/home"><i class="fa fa-angle-double-right"></i>Home</a></li>
            <li><a href="/facilities/bank"><i class="fa fa-angle-double-right"></i>Bank & ATM</a></li>
            <li><a href="/postoffice"><i class="fa fa-angle-double-right"></i>NSS Committee</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
          <h5>Committees in University</h5>
          <ul class="list-unstyled quick-links">
            <li><a href="/women"><i class="fa fa-angle-double-right"></i>Women's Cell</a></li>
            <li><a href="/guidence"><i class="fa fa-angle-double-right"></i>Career Guidance Cell</a></li>
            <li><a href="/ragging"><i class="fa fa-angle-double-right"></i>Anti Ragging Committee</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
          <h5>Contact Us</h5>
          <ul class="list-unstyled quick-links">
            <li><i class="fas fa-map-marker-alt"></i> RGUKT - Basar Telangana State  504107 India</li>
            <li><i class="fas fa-phone-alt"></i>Fax: +91 08752243355</li>
            <li><a href="/home"><i class="fas fa-envelope"></i>enquiries@rgukt.ac.in</a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
          <ul class="list-unstyled list-inline social text-center">
            <li class="list-inline-item"><a href="https://www.facebook.com/rgukt.iiitbasar/"><i class="fa fa-facebook"></i></a></li>
            <li class="list-inline-item"><a href="https://twitter.com/rguktofficial?lang=en"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="https://www.instagram.com/_antahpragnya/?hl=en"><i class="fa fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="https://www.linkedin.com/in/rgukt-basar-41b210114"><i class="fab fa-linkedin-in"></i></a></li>
            <li class="list-inline-item"><a href="https://www.youtube.com/channel/UC_5eZQWA2Celmz2Plt-bKfA"><i class="fab fa-youtube"></i></a></li>
          </ul>
        </div>
        <hr>
      </div>	
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
          <p><u><a class="text-danger" href="https://www.rgukt.ac.in/">Rgukt basar University </a></u> is a Registered University, Inc.Terms and Conditions </p>
          <p class="h6">© All right Reversed.<a class="text-green ml-2" href="https://www.sunlimetech.com" target="_blank">Varalaxmi</a></p>
        </div>
        <hr>
      </div>	
    </div>
  </section>
  <!--footer end-->