<header>
    <!-- nav start -->
    <div class="heading">
      <img src="./assets/images/logo.jpg"  alt="no-img">
      <h3> Rajiv Gandhi University of Knowledge Technologies</h3> <br>
     
    </div>
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container">
            <p class="navbar-brand">RGUKT IIIT</p>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item"><a class="nav-link" routerLink="/admissions">Admissions</a></li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" routerLink="/academics/academicprogramme" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Academics
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item active" routerLink="/academics/academicprogramme"> Academic  Programmes </a>
                      <a class="dropdown-item" routerLink="/academics/curricula"> Curricula</a>
                      <a class="dropdown-item" routerLink="/academics/academiccalendar"> Academic Calendar</a>
                    
                  </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" routerLink="/departments/cse" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Departments
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" routerLink="/departments/cse"> CSE  </a>
                        <a class="dropdown-item" routerLink="/departments/ece"> ECE</a>
                        <a class="dropdown-item" routerLink="/departments/eee"> EEE</a>
                        <a class="dropdown-item" routerLink="/departments/civil"> Civil</a>
                        <a class="dropdown-item" routerLink="/departments/chemical"> Chemical</a>
                        <a class="dropdown-item" routerLink="/departments/mechanical"> Mechanical</a>
                    </div>
                    </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" routerLink="/facilities/hostel" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Facilities
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" routerLink="/facilities/hostel"> Hostels  </a>
                      <a class="dropdown-item" routerLink="/facilities/conferencehall"> Conference Halls</a>
                      <a class="dropdown-item" routerLink="/facilities/centrallibrary"> Central Library</a>
                      <a class="dropdown-item" routerLink="/facilities/hospital"> Hospital</a>
                      <a class="dropdown-item" routerLink="/facilities/bank"> Bank & ATM</a>
                  </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" routerLink="/students/eprofile" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Students
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" routerLink="/students/eprofile"> e-Profile </a>
                        <a class="dropdown-item" routerLink="/students/results"> Results</a>
                        <a class="dropdown-item" routerLink="/students/fee"> Tution Fee</a>
                        <a class="dropdown-item" routerLink="/students/applyconvocation"> Apply for Convocation</a>
                        <a class="dropdown-item" routerLink="/students/certificate"> Online Certificate Request</a>
                    </div>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" routerLink="/examination/exam" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Examination
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" routerLink="/examination/exam"> Examination</a>
                          <a class="dropdown-item" routerLink="/examination/resultssem"> Semister Results</a>
                          <a class="dropdown-item" routerLink="/examination/remedial"> Apply for Remedial or GI</a>
                      </div>
                      </li>
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" routerLink="/placements/internship" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Placements
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink="/placements/internship"> Internship  Registration  </a>
                    <a class="dropdown-item" routerLink="/placements/drive"> Drives Registration</a>
                    <a class="dropdown-item" routerLink="/placements/upcoming"> Upcoming Events</a>
                    <a class="dropdown-item" routerLink="/placements/crt"> Gallery of T&P Cell</a>
                </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" routerLink="/events/techfest" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Events
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" routerLink="/events/techfest"> TechFest  </a>
                      <a class="dropdown-item" routerLink="/events/anthapragna"> Anthapragna</a>
                      <a class="dropdown-item" routerLink="/events/festival"> Festival Celebrations</a>
                      <a class="dropdown-item" routerLink="/events/convocation"> Convocation</a>
                  </div>
                  </li>
                <li class="nav-item"><a class="nav-link" routerLink="/career">Career</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/signin">Sign In</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/signup">Sign Up</a></li>
            </ul>
            </div>
        </div>
    </nav><!-- nav end -->
 <div class="main-container">

   <div class="card">
     <div class="card-body">
        <div class="card-title">
            Login Form
          <a routerLink="/signup"><button class="btn btn-success" type="button"> Register </button></a> 
         </div>
         <img src="./assets/images/girl.png" alt="no-img" width="130px" height="130px">
       
        <div class="card-text">
            <form>
                <div class="input-field">
                    <label for="uname" class="text-info"> Username: </label>
                    <input type="text" name="uname" id="uname" placeholder="enter username">
                </div>
                <div class="input-field">
                    <label for="pass" class="text-info"> Password : </label>
                    <input type="password" name="pass" id="pass" placeholder="enter password">
                </div>
                <input type="checkbox" name="show-password" id="show-password">
                     <label for="show-password" class="text-info">
                        Show Password
                    </label>
                <div class="btn-lg">
                    <button class="btn btn-success" type="button"> Login </button>
                    <button class="btn btn-danger" type="button"> Cancel </button>
                </div>
                <div class="email">
                    <a href="#">Forgot password?</a>
                </div>
            </form>
        </div>
    </div>
    <div class="card-footer">
        if you don't have an account create it by clicking register button

        <button class="btn btn-danger "> Close </button>
    </div>

   </div>


</div>
<!-- main container end-->
</header>
    <!--footer start-->
    <section id="footer">
      <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
          <div class="col-xs-12 col-sm-4 col-md-4">
            <h5>Quick links</h5>
            <ul class="list-unstyled quick-links">
              <li><a routerLink="/home"><i class="fa fa-angle-double-right"></i>Home</a></li>
              <li><a routerLink="/facilities/bank"><i class="fa fa-angle-double-right"></i>Bank & ATM</a></li>
              <li><a routerLink="/postoffice"><i class="fa fa-angle-double-right"></i>NSS Committee</a></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4">
            <h5>Committees in University</h5>
            <ul class="list-unstyled quick-links">
              <li><a routerLink="/women"><i class="fa fa-angle-double-right"></i>Women's Cell</a></li>
              <li><a routerLink="/guidence"><i class="fa fa-angle-double-right"></i>Career Guidance Cell</a></li>
              <li><a routerLink="/ragging"><i class="fa fa-angle-double-right"></i>Anti Ragging Committee</a></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4">
            <h5>Contact Us</h5>
            <ul class="list-unstyled quick-links">
              <li><i class="fas fa-map-marker-alt"></i> RGUKT - Basar Telangana State  504107 India</li>
              <li><i class="fas fa-phone-alt"></i>Fax: +91 08752243355</li>
              <li><a routerLink="/home"><i class="fas fa-envelope"></i>enquiries@rgukt.ac.in</a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
            <ul class="list-unstyled list-inline social text-center">
              <li class="list-inline-item"><a href="https://www.facebook.com/rgukt.iiitbasar/"><i class="fa fa-facebook"></i></a></li>
              <li class="list-inline-item"><a href="https://twitter.com/rguktofficial?lang=en"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item"><a href="https://www.instagram.com/_antahpragnya/?hl=en"><i class="fa fa-instagram"></i></a></li>
              <li class="list-inline-item"><a href="https://www.linkedin.com/in/rgukt-basar-41b210114"><i class="fab fa-linkedin-in"></i></a></li>
              <li class="list-inline-item"><a href="https://www.youtube.com/channel/UC_5eZQWA2Celmz2Plt-bKfA"><i class="fab fa-youtube"></i></a></li>
            </ul>
          </div>
          <hr>
        </div>	
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
            <p><u><a class="text-danger" href="https://www.rgukt.ac.in/">Rgukt basar University </a></u> is a Registered University, Inc.Terms and Conditions </p>
            <p class="h6">© All right Reversed.<a class="text-green ml-2" routerLink="https://www.sunlimetech.com" target="_blank">Varalaxmi</a></p>
          </div>
          <hr>
        </div>	
      </div>
    </section>
    <!--footer end-->