* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


html {
  scroll-behavior: smooth;
}
header .heading{
  z-index:1;
  margin-top:0;
  margin-bottom: 2px;
  padding:2px;
  width:calc(100% - 0%);
  top:0;
  position:fixed;
  height: 75px;
  display:flex;
  background-image:url("src/assets/images/blue.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

header .heading h3{
  color:#FFF;
  margin-left:300px;
  text-align: center;
  margin-top: 15px;
  font-weight: bold;
  
}

header .heading img{
  width:70px;
  height:60px;
  float:left;
  margin-left: 5px;
  margin-top:5px;
  margin-bottom:10px;
  border-radius:50%;

}

header {
  width: 100%;
  height: 100vh;
  background-image: url("src/assets/images/b1.jpg");
  background-size: cover;
 /* background-position: center;*/
  position: relative;
}

/*header::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
 
}*/

header nav.navbar {
  z-index: 9999;
  background:rgb(255, 45, 140);
  top:7%;
  height:50px;
  align-items: center;
  position:relative;
}

header nav.navbar .nav-item:hover{
  background: linear-gradient(to right, #33ccff 0%, #ff99cc 100%);
  margin-top:4px;
  border-radius: 40%;
}


header nav.navbar .navbar-brand {
  color: #FFF;
  margin-left:0;
  font-weight: bold;
  font-size: 25px;
  margin-top:10px;
}

header nav.navbar .nav-item{
  color:#FFF;
  align-items: center;

}

header nav.navbar .nav-item .nav-link{
  color: #FFF;
  transition:0.3s;
  transition-property: color;
  align-items: center;
  margin-top: 5px;

}


header nav.navbar .nav-item .nav-link .dropdown-menu .dropdown-item {
  background:  linear-gradient(to right, #33ccff 0%, #ff99cc 100%);
}

header nav.navbar .nav-item .nav-link:hover{
  color: linear-gradient(to right, #33ccff 0%, #ff99cc 100%);
  
}

header nav.navbar .navbar-toggler {
  color:rgb(255, 45, 140);
  font-size: 1.3rem;
  cursor: pointer;
  z-index: 999;
  outline: none;
  background:rgb(255, 45, 140);
}


header .header-content {
  position: absolute;
  z-index: 999;
  height: 600px;
  left: 50%;
  top: 56%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* css styles for cse page*/


.container-fluid .head {
margin-top: 80px;
}
.container-fluid .head h4{
 background-color: teal;
 color:white;
 padding:5px;
 padding-left: 130px;
 padding-top: 10px;
 padding-bottom: 10px;
}
.container-fluid .body{
margin-top:0;
}
.container-fluid .side1 h5{
color:teal;
font-weight: bold;
margin-top:10px;
font-size: 20px;
border: 3px solid teal;
border-radius: 10px;
display: inline;
padding-left: 10px;
padding-right: 20px;


}
.container-fluid  .side2 p{
margin-top:5px;
}
.container-fluid  .side3 p{
margin-top:5px;
}
.container-fluid  .side4 p{
margin-top:5px;
}
.container-fluid  .side5 p{
margin-top:5px;
}
.container-fluid .first{
margin-left: 2px;
}
.container-fluid .first h5{
color:teal;
font-weight: bold;
margin-bottom: 2px;
}
.container-fluid .first p{
margin-bottom: 10px;
margin-left: 30px;
}

.container-fluid .second{
margin-left: 2px;
}
.container-fluid .second h5{
color:teal;
font-weight: bold;
margin-bottom: 2px;
}
.container-fluid .second p{
margin-bottom: 10px;
margin-left: 30px;
}
.container-fluid .part2{
margin-top: 80px;

}
.container-fluid .carousel-indicators{
margin-top:100px;
}
section {
  padding-top:20px;
  background-image: url("src/assets/images/blue.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top:0;

  
}

section .section-title {
  text-align: center;
  margin-bottom: 50px;
  text-transform: uppercase;
}

#footer h5{
padding-left: 10px;
  border-left: 3px solid #eeeeee;
  padding-bottom: 6px;
  margin-bottom: 20px;
  color:#ffffff;
}
#footer a {
  color: #ffffff;
  text-decoration: none !important;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
#footer li{
  color:#ffffff;
}
#footer li i:hover{
  color:rgb(255, 45, 140);
}
#footer ul.social li{
padding: 3px 0;
}
#footer ul.social li a i {
  margin-right: 5px;
font-size:25px;
-webkit-transition: .5s all ease;
-moz-transition: .5s all ease;
transition: .5s all ease;
}
#footer ul.social li:hover a i {
font-size:30px;
margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
color:#ffffff;
}
#footer ul.social li a:hover{
color:rgb(255, 45, 140);

}
#footer ul.quick-links li{
padding: 3px 0;
-webkit-transition: .5s all ease;
-moz-transition: .5s all ease;
transition: .5s all ease;
}
#footer ul.quick-links li:hover{
padding: 3px 0;
margin-left:5px;
font-weight:700;
}
#footer ul.quick-links li a i{
margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
  font-weight: 700;
  color:rgb(255, 45, 140);
}

@media (max-width:767px){
#footer h5 {
  padding-left: 0;
  border-left: transparent;
  padding-bottom: 0px;
  margin-bottom: 10px;
}
}
